<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AirBnB</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <h3>Here lies all the listings</h3>
    <% const defaultImg = "https://images.unsplash.com/photo-1449824913935-59a10b8d2000?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"; %>
    <div class="cards-container">
      <% for(let listing of allListing){ %>
        <a id="card-link" href="/listing/<%= listing._id %>">
          <div class="data-cards">
            <img id="img" height="100px" src="<%= (listing.image && listing.image.url) ? listing.image.url : defaultImg %>">
            <p id="title">Title:<%= listing.title %></p>
            <p id="description">description:<%= listing.description %></p>
            <p id="price">price:<%= listing.price.toLocaleString("en-IN") %></p>
            <p id="location">location:<%= listing.location %></p>
            <p id="country">country:<%= listing.country %></p>
        </div>
        </a>
    <% } %>
    </div>
  </body>
</html>